* {
    font-family:'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: rgb(35, 35, 35);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    gap: 1rem;
}

a {
    color: rgba(144, 209, 225, 0.922);
}

h1 {
    margin-top: 1rem;
}

.img-container {
    max-width: 90%;
}


img {
    width: 100%;
}

ol, ul {
    font-size: clamp(0.5rem, 1rem, 1rem);
}


li {
    margin-bottom: 0.5rem;
}

ol li {
    margin-bottom: 1rem;
}


.content-box {
    max-width: 90%;
}

.container-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:baseline;
    gap: 1rem;
}